* {
    margin: 0px;
    border: none;

}

.container {
    text-align: center;
    max-width: 200px;
    margin: auto;
    /* border: 2px solid grey; */
    /* height: 300px; */
    min-height: 350px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;

}

.row {
    margin: 3px;
}

.button {
    margin: 1.5px 2px;
    border-radius: 7px;
    padding: 10px 13px;
    cursor: pointer;
}

h3 {
    margin: 5px;
    margin-bottom: 10px;
    background: pink;

}

.content {
    margin-top: 60px;
}

input {
    padding: 12px;
    text-align: right;
    margin-bottom: 15px;
    border: 1.5px solid gray;
    border-radius: 5px;
}

.btncolor {
    background-color: #FFCC00;
}

.btncolor:hover {
    background-color: #ecf809;

}

.acButton {
    /* padding-right: 40px; */
    background-color: rgba(183, 9, 87, 0.749);
    color: white;
}

.acButton:hover {
    background-color: rgba(245, 15, 119, 0.927);
    color: black;
}

.dlButton {
    background-color: rgba(233, 75, 7, 0.749);

}

.dlButton:hover {
    background-color: rgba(145, 50, 9, 0.973);
    color: white;

}
